<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Augurk.CommandLine" version="3.2.1" targetFramework="net471" />
  <package id="Augurk.CSharpAnalyzer" version="0.1.0-ci0081" targetFramework="net471" />
  <package id="MSTest.TestAdapter" version="1.3.2" targetFramework="net471" />
  <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net471" />
  <package id="Shouldly" version="3.0.0" targetFramework="net471" />
  <package id="SpecFlow" version="2.3.2" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net471" />
</packages>